table {
    width: 100%;
}

table tr td {
    padding: 10px;
}

.table tr td {
    padding: 10px;
    border: 1px solid #eee;
}

.well-bordered {
    border: 1px solid #eeeeee; 
    padding: 15px; 
    border-radius: 5px;
}

.min-400-height {
    min-height: 400px;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.row {
    margin: 0;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.navbar-custom {
    border-radius: 0px;
    background-color: #008F7A;
    color: white;
}

.navbar-brand { 
    color: white;
}

.navbar-custom ul li a {
    color: white;
}

.navbar-custom ul li a:hover {
    background-color: #20b09b;
    color: white;
}