<template>
	
	<div>
		
		<div class="container-fluid center">
			<img src="/pics/logo.png" 
			style="width: 250px; height: 250px;" class="center" alt="">

			<h3>Metals SaaS App</h3>

		</div>

	</div>

</template>



<script>
	
</script>